/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

body {
    padding-top: 60px !important;
}

.control-container {
    display: inline;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
